PORT=3000
DATABASE_URL=postgresql://user:password@localhost:5432/campusvault
JWT_SECRET=super_secret_jwt_key
REDIS_HOST=localhost
REDIS_PORT=6379

# AWS S3 (veya MinIO/Cloudflare R2 uyumlu servisler için)
AWS_ACCESS_KEY_ID=your_access_key
AWS_SECRET_ACCESS_KEY=your_secret_key
AWS_REGION=us-east-1
S3_BUCKET_NAME=your_bucket_name
S3_ENDPOINT_URL=https://<account_id>.r2.cloudflarestorage.com # Cloudflare R2 kullanıyorsan zorunlu
S3_PUBLIC_DOMAIN=https://pub-xxxxxx.r2.dev # (Opsiyonel) Public R2 bucket linki

# Özet çıkarma ve fotoğraftan metin çıkarmak için Gemini API key
GEMINI_API_KEY=gemini_api_key_from_google_ai_studio

#Gemini modeli
GEMINI_MODEL=your_favorite_model